<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 
    <title>Rob Backend</title>
 
</head>
 
<body>
    <div class="container">
        <h3 style="margin-bottom: 50px"><a ng-click="goToBills()">Bills</a> | <a ng-click="goToCashback()">Cashbacks</a> | <a ng-click="goToOutlets()">Outlets</a> | Offers</h3>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" style="margin-bottom: 25px">Add offer</button>
        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form name="offerForm" ng-submit="submit(offerForm)">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add offer</h4>
            </div>
            <div class="modal-body">
                    <label class="item item-input" style="margin: 10px 0">
                        <input type="text" ng-model="offer.store_id" placeholder="Store Id" required>
                    </label>
                    <label class="item item-input" style="margin: 10px 0">
                        <input type="text" ng-model="offer.title" placeholder="Title" required>
                    </label>
                    <label class="item item-input" style="margin: 10px 0">
                        <input type="number" ng-model="offer.cashback" placeholder="Cashback" required>
                    </label>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
            </form>
            </div>

        </div>
        </div>
        <table class="table table-bordered" style="background: #fff;">
            <thead>
            <tr>
                <td>id</td>
                <td>Store id</td>
                <td>Title</td>
                <td>Cashback</td>
            </tr>
            </thead>
            <tbody ng-repeat="data in offers">
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.store_id }}</td>
                    <td>{{ data.title }}</td>
                    <td>{{ data.cashback }}</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>